<!DOCTYPE html>
<html>
	<head>
		<title>Make New Account</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<p>Welcome to Fritter! Please enter your desired username and password:</p>
		<form action="signup" method="post">
			Username: <input type="text" name="username"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="Submit">
		</form><br>

		<p><%= message %><p>

	</body>
</html>
