<!DOCTYPE html>
<html>
	<head>
		<title>Edit Freet</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
    	<form action="changed" method="post">
    		Edit your freet:<br>
    		<textarea rows="4" cols="50" name="comments"><%= entry.post.valueOf()%></textarea><br>
    		<input type="hidden" name="pub" value= <%=pub%>>
    		<input type="hidden" name="id" value= <%= entry._id.valueOf()%>>
    		<input type="submit" name="save" value="Save">
    		<input type="submit" name="delete" value="Delete">
    	</form>
  	</body>
</html>